<h1>SHOW POST</h1>

<ul>Post by <%=@post.name%> : <%=@post.content%></ul>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
<input type= 'submit' value="delete"></form>
